<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-16">
    <div class="flex mb-5 items-center justify-between	">
        <h1 class="text-3xl font-bold">
            Libros
        </h1>

        <a th:href="@{'/add-book'}"
            class="flex gap-x-1 inline-flex items-center rounded-md bg-white p-2 text-md font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>

            Añadir
        </a>
    </div>

    <div th:if="${#lists.isEmpty(books)}">
        <p>No hay libros añadidos</p>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
        th:unless="${#lists.isEmpty(books)}">
        <a th:href="@{'/detailed-book/' + ${book.id}}" th:each="book : ${books}">
            <div
                class="h-full w-full flex gap-x-1 rounded-md bg-white p-5 shadow-sm ring-1 ring-inset ring-gray-200 hover:bg-gray-50">
                <div class="flex gap-x-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                    </svg>
                    <div>
                        <p class="text-md font-semibold leading-6 text-gray-900" th:text="${book.name}"></p>
                        <p class="text-sm font-regular leading-5 text-gray-500"
                            th:text="' $' + ${book.price}"></p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</body>

</html>